:root {
    --main-color: #556052;
    --text-color: #FFDAB9;
    --dark-box: rgba(0,0,0,0.25);
    --link-dark-box: rgba(0,0,0,0.75);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-color);
    font-family: 'Roboto', sans-serif;
}

/* MAIN - NAV BAR */
header {
    background: rgb(255,218,185);
    background: linear-gradient(180deg, rgba(255,218,185,1) 84%, rgba(85,96,82,1) 100%);
    color: var(--main-color);
    position: fixed;
    text-decoration: none;
    display:inline-block;
    min-width: 13vw;
    max-width: 13vw;
    padding-bottom: 20%;
}

header .logo-name {
    display: flex;
    padding: 2rem .75rem 1.25rem .75rem;
    justify-content: center;
}

header .logo-name .logo-head img {
    height: 3rem;
    margin-right: .25rem;
}

header .logo-name .name-head{
    align-self: center;
    font-size: 1.7rem;
    font-weight: bold;
}

header h1 {
    text-align: center;
    margin-bottom: 1rem;
}

/* Side-Nav */

/* Nav Headers */
nav ul {
    list-style-type: none;
}

nav ul li h2,
nav ul h2 {
    margin: .25rem .75rem;
    font-size: 1rem;
}

/* Nav Links */
nav ul li ul {
    list-style-type: none;
}

nav ul li ul li {
    text-indent: 1rem;
    margin: 0 1.25rem;
}

nav ul li ul li a,
nav ul h2 a {
    color:var(--main-color);
    font-weight: bold;
    text-decoration: none;
    font-size: .80rem;
}

nav ul h2 a {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

nav ul li ul li a:hover,
nav ul h2 a:hover {
    color:var(--text-color);
    background-color: var(--link-dark-box);
    border-radius: 4px;
    padding: 0 .75rem;
    transition-duration: .5ms;
}

/* MAIN - USER */

main {
    color: var(--text-color);
    display: inline-block;
    margin-left: 17vw;
}

main .main-wrapper {
    display:block;
    width: 100%;
}

main .main-wrapper .user {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
}

main .main-wrapper .user .user-text {
    align-self: center;
}

main .main-wrapper .user .user-image img {
    height: 50px;
    border-radius: 50%;
    margin-left: 2rem;
}

main .main-wrapper .dashboard-main h1{
    margin-top: 7rem;
}

main .main-wrapper .dashboard-main h2 {
    margin: 2rem 0;
}

/* SALES */

main .main-wrapper .dashboard-main .main-sales{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}

main .main-wrapper .dashboard-main .main-sales .sales-cont{
    background-color: var(--dark-box);
    padding: 2rem 3rem;
    margin: 2rem 3rem;
    border-radius: 25px;
    text-align: center;
}

main .main-wrapper .dashboard-main .main-sales .sales-cont h3 {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-weight: bold;
}

main .main-wrapper .dashboard-main .main-sales .sales-cont p {
    font-size: 2.5rem;
    font-weight: bolder;
}

main .main-wrapper .dashboard-main .main-sales .total-income {
    background-color: #1DAB3C;
}

main .main-wrapper .dashboard-main .main-sales .total-expenses {
    background-color: #AB2E1D;
}

main .main-wrapper .dashboard-main .main-sales .net-profit {
    background-color: #1D6FAB;
}

main .main-wrapper .dashboard-main .main-sales .balance {
    background-color: #1DABAB;
}

/* INVENTORY SUMMARY */
.dashboard-main .inventory-summary {
    display: flex;
    justify-content: space-around;
}

.dashboard-main .inventory-summary h3 {
    text-align: center;
}

/* ORDER */

.dashboard-main .main-orders {
    display: flex;
    justify-content: space-around;
}

.dashboard-main .main-orders h3 {
    text-align: center;
}

.dashboard-main .main-orders {
    display: flex;
}

/* INVENTORY */
main .main-wrapper .dashboard-sub h1{
    margin-top: 7rem;
}

main .main-wrapper .dashboard-sub h2{
    margin-bottom: 3rem;
}

/* ADD/EDIT PRODUCT */
main .main-wrapper .dashboard-sub form .inv-pic {
    margin-left: 25vw;
    margin-right: 15vw;
}

main .main-wrapper .dashboard-sub form .inv-pic .inv-content {
    display: flex;
}

main .main-wrapper .dashboard-sub form .inv-pic .inv-content img {
    height: 200px;
    margin: 1rem;
    border-radius: 25px;
}

main .main-wrapper .dashboard-sub form .inv-pic .inv-content button {
    align-self: center;
}

main .main-wrapper .dashboard-sub form label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.inv-image {
    height: 100px;
    width: 100px;
}

main .main-wrapper .dashboard-sub form input[type=text],
main .main-wrapper .dashboard-sub form input[type=number],
main .main-wrapper .dashboard-sub form input[type=date] {
    color: var(--text-color);
    background-color: var(--link-dark-box);
    border: none;
    border-radius: 5px;
    padding: .25rem .5rem;
    margin: .25rem 0;
    width: 100%;
}

main .main-wrapper .dashboard-sub form input[type=date] {
    width: 25%; 
}

/* GENERAL DESIGNS */

/* ROUNDED CORNER TABLES */
.table-round {
    background-color: var(--dark-box);
    border-radius: 25px;
    text-align: center;
    padding: 2rem 3rem;
    margin: .5rem 2rem;
    width: 25vw;
    display:flex;
    justify-content: center;
}

.table-round table {
    border-collapse: collapse;
}

.table-round table td:nth-child(n):not(:last-child),
.table-round table th:nth-child(n):not(:last-child){
    border-right: 1px solid var(--text-color);
}

.table-round table tr td,
.table-round table tr th {
    text-align: center;
    padding: 0.5rem;
}

/* RECTANGULAR TABLE */
.table-rec {
    background-color: var(--dark-box);
    text-align: center;
    padding: 1rem;
    margin: 1rem 2rem;
    width: 70vw;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.table-rec table {
    border-collapse: collapse;
}

.table-rec table thead tr th:nth-child(n):not(:last-child),
.table-rec table tbody tr td:nth-child(n):not(:last-child){
    border-right: 1px solid var(--text-color);
}

.table-rec table thead tr th,
.table-rec table tbody tr td {
    text-align: center;
    padding: .75rem;
    margin: .75rem;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color:var(--text-color);
    border-radius: 5px;
    padding: .25rem .25rem;
    margin: .25rem .25rem;
    border: none;
}

.edit-btn {
    background-color: rgba(38, 91, 192, 0.69);
}

.delete-btn {
    background-color: rgba(192, 38, 38, 0.69);
}

.view-btn {
    background-color: rgba(42, 108, 32, 0.7);
}

.change-btn {
    background-color: rgba(143, 68, 38, 0.5);
}

.add-prod {
    padding: .5rem 1rem;
    float: right;
    margin-right: 4%;
}

.action-buttons {
    margin: 1rem 30vw;
}

.prod-image {
    width: 150px;
}

/* FOOTER */

footer {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    margin: .5rem;
    margin-left: 17vw;
}